@font-face {
  font-family: "bebas_neueregular";
  src: url("bebasneue-regular-webfont.woff2") format("woff2"), url("bebasneue-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "blenda_scriptregular";
  src: url("blenda_script-webfont.woff2") format("woff2"), url("blenda_script-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kanitbold";
  src: url("kanit-bold-webfont.woff2") format("woff2"), url("kanit-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kanitmedium";
  src: url("kanit-medium-webfont.woff2") format("woff2"), url("kanit-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kanitmedium_italic";
  src: url("kanit-mediumitalic-webfont.woff2") format("woff2"), url("kanit-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
body * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.font-blenda_scriptregular {
  font-family: "blenda_scriptregular";
}

.font-kanitbold {
  font-family: "kanitbold";
}

.font-kanitmedium {
  font-family: "kanitmedium";
}

.font-kanitmedium_italic {
  font-family: "kanitmedium_italic";
}

.font-bebas_neueregular {
  font-family: "bebas_neueregular";
}

@media (orientation: landscape) {
  .hidde-d {
    display: none;
  }
}

@media (orientation: portrait) {
  .hidde-m {
    display: none;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.flex-container > div:not(.price) {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
}
@media (orientation: landscape) {
  .flex-container > div:not(.price) {
    flex: 1 0 0%;
  }
  .flex-container > div:not(.price).text-container {
    flex: 0 0 auto;
    width: 55%;
  }
}
.flex-container.text-content-wrap {
  align-items: center;
  height: 100%;
  padding: 0 6vw;
}
@media (orientation: landscape) {
  .flex-container.text-content-wrap > div {
    flex: 0 0 auto;
  }
}
@media (orientation: portrait) {
  .flex-container.text-content-wrap > div {
    flex: 1 0 0%;
  }
}
.flex-container.text-content-wrap .bottom-image {
  flex: 0 0 auto;
  width: 25%;
  margin-left: auto;
}
@media (orientation: landscape) {
  .flex-container.text-content-wrap .bottom-image {
    width: 50%;
  }
}

.flex-main-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-cover-background {
  background-image: url(pizza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (orientation: portrait) {
  .image-cover-background {
    min-height: 50vh;
  }
}

.text-content .text-title {
  font-size: 7vw;
  line-height: 5.5vw;
  margin: 0 0 1rem;
}
@media (orientation: portrait) {
  .text-content .text-title {
    font-size: 7.5vh;
    line-height: 6vh;
  }
}
.text-content .text-subtitle {
  color: #fe641e;
  font-size: 3vw;
  margin: 0 0 1rem;
}
@media (orientation: portrait) {
  .text-content .text-subtitle {
    font-size: 3.5vh;
  }
}
.text-content .text-description {
  font-size: 1.7vw;
}
@media (orientation: portrait) {
  .text-content .text-description {
    font-size: 2.7vh;
  }
}
@media (orientation: portrait) {
  .text-content img {
    width: 90%;
  }
}

.price {
  position: absolute;
  background-color: #f92644;
  color: #fff;
  padding: 2rem;
  text-align: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  left: -2.5rem;
  bottom: 2rem;
}
@media (orientation: portrait) {
  .price {
    top: -10%;
    right: 1.5rem;
    left: auto;
    z-index: 1;
  }
}
.price:before {
  content: "";
  border: 4px solid #fff;
  top: 1rem;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
}
.price p {
  margin: 0;
}
.price .price-ammount {
  font-size: 5vw;
  line-height: 4vw;
  margin-top: 0.14em;
}
@media (orientation: portrait) {
  .price .price-ammount {
    font-size: 7vh;
    line-height: 6vh;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
